{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Sign up 
            </div>
            <div class="card-body">
                {% if form.errors %}
                    <div class="alert alert-danger">
                        {{ form.errors }}
                    </div>
                {% endif %}
                <form action="{% url 'signup' %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" class="btn btn-sm btn-success" value="Sign up" name="submit">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
